table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 0px solid black;
  padding: 10px;
}

th {
  background: #99ccff;
}

th,
td {
}

th {
  text-align: center;
}
td:nth-child(2) {
  text-align: right;
  padding-right: 2px;
}
td:nth-child(3) {
  padding-right: 20px;
  position: relative;
  left: -0.2em;
  text-align: left;
  padding-left: 0;
}

body {
  background: #fff;
  padding: 0px;
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 49px;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 60px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
}

#HASH {
  display: flex;
  justify-content: space-between;
}

p {
  background-color: blue;
  color: white;
  margin-top: 49px;
}
